@font-face {
    font-family: 'TTLakes';
    font-style: normal;
    font-weight: normal;
    src: local('TTLakes-regular'),
    url('./assets/fonts/TTLakes-Bold.ttf'),
}

@font-face {
    font-family: TTLakes;
    font-style: bold;
    src: local('TTLakes-Bold')
    ('./assets/fonts/TTLakes-Bold.ttf');
}

body {
    font-family: 'TTLakes', sans-serif;
    margin: 0;
    background-color:
    #F8F8F8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1072px;
    max-height: 88px;
    background-color: white;
    border-bottom: 1px solid #B8FFEC;
}

.main__spans {
    display: none;
}

.header__column1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__column2 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__logo1 {
    background: url('./assets/img/burger.svg');
    width: 40px;
    height: 40px;
    border-width: 0;
    order: 1;
}

.header__logo2 {
    order: 2;
}

.header__logo3 {
    order: 3;

}

.header__logo4 {
    background: url('./assets/img/repair.svg');
    width: 40px;
    height: 40px;
    border-width: 0;
    order: 4;
}

.header__logo5 {
    background: url('./assets/img/checkstatus.svg');
    width: 40px;
    height: 40px;
    border-width: 0;
    order: 8;
}

.header__logo6 {
    background: url('./assets/images/profile.svg');
    width: 40px;
    height: 40px;
    border-width: 0;
}

.header__logo7 {
    background: url('./assets/img/chat.svg');
    width: 40px;
    height: 40px;

    border-width: 0;
}

.header__logo8 {
    background: url('./assets/img/call.svg');
    width: 40px;
    height: 40px;
    border-width: 0;
}

.header__logo9 {
    display: none;
}

.header__logo10 {
    display: none;
}

.title {
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    max-height: 40px;
    font-size: 28px;
    line-height: 40px;
}

h1 {
    font-weight: bold;
}

.title::before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    content: url('/assets/img/highlight.svg');
    margin-right: 10px;
}

main {
    border-top: 1px solid #B8FFEC;
}

.main__menu {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

::-webkit-scrollbar {
    display: none;
} 

.main__menu-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;
    white-space: nowrap;
    
}

.block1 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid #B8FFEC;
    border-radius: 5px;
    margin-left: 15px;
    background-color: white;
}

.block2 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 15px;
}

.block3 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 15px;
}

.block4 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 15px;
}

.block5 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 15px;
}

.block6 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 15px;
}

.text {
    padding-left: 24px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 18px;
}

.text__hide {
    display: none;
}

.text__hide2 {
    display: none;
}

.button {
    border-width: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 16px;
    margin-left: 16px;
}

.button__span {
    @font-face {
        font-family: 'TTLakes-bold';
        src: local('TTLakes-bold');
    }
    font-size: large;
    font-weight: 200;
}

.button::before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    content: url('./assets/img/expand.svg');
    margin: 0;
    font-weight: 900;
}

.picture {
    width: 320px;
    height: 230,8px;
}

@media (min-width: 0px) and (max-width: 767px)  {
    .header__logo6 {
        display: none;
    }

    .header__logo7 {
        display: none;
    }

    .header__logo8 {
        display: none;
    }

    .header__logo9 {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {


    .button {
        font-size: 16px;
        margin-top: 15px;
        margin-left: 18px;
    }

    .header {
        padding-left: 24px;
        padding-right: 24px;
    }

    .title::before {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        content: url('./assets/img/highlight.svg');
        margin-right: 24px;
    }
    
    .main__menu-list {
        margin-left: 12px;
    }

    .main-columns {
        display: flex;
        justify-content: space-between;
    }

    .right-column {
        margin-right: 24px;
        margin-top: 24px;
        width: 360px;
        height: 208px;
    }

    .left-column {
        width: 312px;
        height: 160px;
        margin-top: 24px;
        margin-left: 10px;
    }

    .text {
        margin: 0;
        padding-right: 0;
    }

    .text__hide {
        display: block;
    }

    .text__1p {
        width: 312px;
        padding-bottom: 15px;
        margin: 0;
    }

    .text__2p {
        margin: 0;
    }

    .header__logo3 {
        display: none;
    }

    .header__logo4 {
        background: url('./assets/img/repair.svg');
        width: 40px;
        height: 40px;
        border-width: 0;
    }

    .picture {
        min-width: 360px;
        min-height: 208px;
        border: 1px solid transparent;
        border-radius: 7px;
    }

    .header__column2 {
        display: flex;
        flex-flow: wrap;
    }

    .header__column2 .header__logo8 {
        order: -10;
    }

    .header__column2 .header__logo7 {
        order: -9;
    }

    .header__column2 .header__logo6 {
        order: -8;
    }

    .header__column1 .header__logo1 {
        order: -5;
    }

    .header__column1 .header__logo9 {
        display: block;
        order: -4;
    }

    .header__logo10 {
        display: block;
    }

}

@media (min-width: 1120px) {
    .main__menu-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: 9px;
    }

    .header {
        display: none;
    }

    .main__columns {
        display: flex;
        justify-content: space-between;
    }

    .main__spans {
        display: flex;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 30px;
        padding: 0;
        max-height: 40px;
        font-size: 16px;
        line-height: 40px;
    }

    .main__application {
        padding-right: 10px;
        order:1;
    }

    .header__logo4 {
        order: 2;
    }

    .main__status {
        padding-left: 35px;
        padding-right: 10px;
        order: 3;
    }

    .header__logo5 {
        order: 4
    }

    .title::before {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        content: url('./assets/img/highlight.svg');
        margin-right: 24px;
    }

    .main {
        border-top: none;
    }

    .main__menu-list {
        margin-left: 14px;
    }

    .main-columns {
        display: flex;
        justify-content: space-between;
    }

    .left-column {
        margin-left: 35px;
    }

    .right-column {
        margin-right: 35px;
        width: 532px;
        height: 307px;
    }

    .picture {
        min-width: 532px;
        min-height: 307px;
    }

    .text {
        padding-left: 0;
        width: 490px;
        height: 160px;
        margin-top: 0;
}

.text__hide, .text__hide2 {
    display: inline;
}

    .button {
        margin-left: 0;
        padding: 0;
        font-size: 16px;
    }

}